body {
    background-color: #FAF0E6; /* Linen */
    color: #2F4F4F; /* DarkSlateGray */
    font-family: Arial, sans-serif;
}

.header {
    background-color: #FFD700; /* Gold */
    color: #2F4F4F; /* DarkSlateGray */
    padding: 20px;
}

.header h1, .header h2 {
    margin: 0;
}

.main {
    padding: 20px;
    background-color: #F0E68C; /* Khaki */
    color: #2F4F4F; /* DarkSlateGray */
    border-radius: 10px;
    margin: 20px;
    max-width: 1500px;
}

pre {
    background-color: #FAF0E6; /* Linen */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #FF4500; /* OrangeRed */
    white-space: pre-wrap;
    font-size: 21px;
}

.footer {
    background-color: #FF4500; /* OrangeRed */
    color: #2F4F4F; /* DarkSlateGray */
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .pg h2 {
    margin: 0;
}

.btn-primary {
    background-color: #FFD700; /* Gold */
    border-color: #FFD700;
    color: #2F4F4F; /* DarkSlateGray */
}

.btn-secondary {
    background-color: #FAF0E6; /* Linen */
    border-color: #FAF0E6;
    color: #2F4F4F; /* DarkSlateGray */
}
