body {
    background-color: rgb(144, 218, 144); /* ForestGreen */
    color: White; /* White text for contrast */
    font-family: Arial, sans-serif;
}

.header {
    background-color: rgb(96, 127, 222); /* RoyalBlue */
    color: White; /* White text for contrast */
    padding: 20px;
}

.header h1, .header h2 {
    margin: 0;
}

.main {
    padding: 20px;
    background-color: rgb(71, 224, 201); /* White */
    color: #000000; /* Black text for readability */
    border-radius: 10px;
    margin: 20px;
    max-width: 1500px;
}

pre {
    background-color: LightPink; /* LightPink */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000000; /* Black border for contrast */
    white-space: pre-wrap;
    color: #000000; /* Black text for readability */
    font-size: 21px;
}

.footer {
    background-color: rgb(91, 121, 211); /* RoyalBlue */
    color: White; /* White text for contrast */
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .pg h2 {
    margin: 0;
}

.btn-primary {
    background-color: ForestGreen; /* ForestGreen */
    border-color: ForestGreen;
    color: White; /* White text for contrast */
}

.btn-secondary {
    background-color: White; /* White */
    border-color: White;
    color: #000000; /* Black text for contrast */
}
